In [11]:
import pandas as pd
from pandas import merge
import ast
import numpy as np

In [2]:
movie_data = pd.read_csv('test.csv')

In [3]:
movie_data.shape

(1647, 8)

In [4]:
ones = [1]*movie_data.shape[0]
movie_data['ones'] = ones

In [7]:
cross_join = merge(movie_data[['movie id','director','creator','actor_list','genre','ones']],movie_data[['movie id','director','creator','actor_list','genre','ones']],on = "ones")

In [28]:
def calc_similarity(row,l = 0.25):
    features = ['director','creator','actor_list','genre']
    feature_vector = []
    for feature in features:
        fx = row[feature+'_x']
        fy = row[feature+'_y']
        if isinstance(fx,str):
            fx = ast.literal_eval(fx)
        if isinstance(fy,str):
            fy = ast.literal_eval(fy)
        fx = set(fx)
        fy = set(fy)
        a = len(fx.intersection(fy))
        b = len(fx.union(fy))
        feature_vector.append(float(a)/float(b))
    feature_vector = np.array(feature_vector)
    weight_vector = np.array([l]*len(feature_vector))
    similarity_vector = feature_vector.dot(weight_vector)
    row['similarity'] = similarity_vector
    return row[['movie id_x','movie id_y','similarity']]

In [14]:
sample_cross_join = merge(movie_data.loc[1:20,['movie id','director','creator','actor_list','genre','ones']],movie_data.loc[1:20,['movie id','director','creator','actor_list','genre','ones']],on = "ones")

In [31]:
%%time
sample_similarity_vector = sample_cross_join.apply(calc_similarity,axis = 1)

CPU times: user 972 ms, sys: 16 ms, total: 988 ms
Wall time: 976 ms

In [30]:
sample_similarity_vector

     movie id_x  movie id_y  similarity
0             2           2    1.000000
1             2           3    0.000000
2             2           4    0.050000
3             2           5    0.041667
4             2           6    0.041667
5             2           7    0.050000
6             2           8    0.000000
7             2           9    0.000000
8             2          10    0.000000
9             2          11    0.041667
10            2          12    0.041667
11            2          13    0.000000
12            2          14    0.000000
13            2          15    0.000000
14            2          16    0.000000
15            2          17    0.050000
16            2          18    0.000000
17            2          19    0.000000
18            2          20    0.000000
19            2          21    0.071429
20            3           2    0.000000
21            3           3    1.000000
22            3           4    0.083333
23            3           5    0.000000
24            3           6    0.000000
25            3           7    0.000000
26            3           8    0.083333
27            3           9    0.000000
28            3          10    0.000000
29            3          11    0.000000
..          ...         ...         ...
370          20          12    0.050000
371          20          13    0.062500
372          20          14    0.125000
373          20          15    0.083333
374          20          16    0.000000
375          20          17    0.000000
376          20          18    0.083333
377          20          19    0.083333
378          20          20    1.000000
379          20          21    0.035714
380          21           2    0.071429
381          21           3    0.041667
382          21           4    0.031250
383          21           5    0.000000
384          21           6    0.027778
385          21           7    0.000000
386          21           8    0.071429
387          21           9    0.000000
388          21          10    0.000000
389          21          11    0.000000
390          21          12    0.000000
391          21          13    0.071429
392          21          14    0.062500
393          21          15    0.000000
394          21          16    0.041667
395          21          17    0.031250
396          21          18    0.035714
397          21          19    0.035714
398          21          20    0.035714
399          21          21    1.000000

[400 rows x 3 columns]